body.splash { 
    background: url(../img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.register {
    background: url(../img/register_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body.login {
    background: url(../img/login_bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.jumbotron {
    background-color: rgba(255,255,255,0.6);
}

.register-form {
    padding:30px;
    border-radius:12px;
    background-color: rgba(255,255,255,0.6);
}

.login-form {
    padding:30px;
    border-radius:12px;
    background-color:rgba(255,255,255,0.6);
}

.col-main-center {
    background-color:rgba(255,255,255,0.6);
    border-radius: 12px;
    padding: 20px;
    height: 100%;
}