body.splash { 
    background: url(img/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.register {
    background: -webkit-linear-gradient(#74b0d3, #4b91ba);
    background: -o-linear-gradient(#74b0d3, #4b91ba);
    background: -moz-linear-gradient(#74b0d3, #4b91ba);
    background: linear-gradient(#74b0d3, #4b91ba);
    background-repeat:no-repeat;
    height: 100%;
    min-height: 100%;
}

.jumbotron {
    background-color: rgba(255,255,255,0.6);
}

.col-main-center {
    background-color: rgba(255,255,255,0.5);
    border-radius: 12px;
    height: 100%;
}